
* {
	box-sizing: border-box;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes textfadein {
	0% { 
		opacity:0 
	}
	80% { 
		opacity:0 
	}
	100% { 
		opacity:1 
	}
}
@keyframes slidein {
    from { width: 0%; }
    to { width: 100%%; }
	}
header {
display: flex;
align-items: center;
}
.logo {
	font-family: 'Righteous', cursive;
	font-size: 40px;
}
.logo a:hover {
	color:grey;
}
nav {
	width: 100%;
	display: grid;
	grid-template-rows: 10px 10px 10px 10px 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navlinks {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin: 0;
	grid-column: 1 / span 2;
	grid-row: 3;
}
.cart {
	position: fixed;
	top: 39.3px;
	right: 14.05px;
}
.navlinks li, .buttons li {
	font-family: 'Noto Sans', sans-serif;
	display: inline-block;
	color:#1d2f43;
	padding: 0 10px;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #1d2f43;
	margin: 6px 0;
}
a{
	text-decoration: none;
	color:#222222;
}
a:hover {
 transition: color 0.2s ease;
 color: #ff7578;
}
.buttons, .hamburger {
	margin: 4px;
	grid-column: 8;
	grid-row: 1;
}
.container {
	/*width: 100%;
	display: grid;
	grid-template-rows: 100% 1fr;
	grid-template-columns: 577px 1fr 1fr 1fr;
}*/
	display: flex;
	width:100%;
	height:100vh;	
}
.left {
	background-image: url("../images/left.png");
	background-size: cover;
	width:45%;
	background-position: 50% 50%;
	animation: fadein 2s;
}
.navright {
	border-radius: 50%;
	width:50px;
	height:50px;
}
.cart {
	background-color: #333333;
}
.left, .right {
	display: flex;
}
/*.left {
	background-image: url('../images/left.png');
	background-size: cover;
}*/
img {
  width: 100%;
  height: auto;
}
.right {
    animation: slidein 3s ease forwards;
	font-family: 'Righteous', cursive;
	justify-content: center;
	align-items: center;
	background-color: #ff7578;
	color: white;
	font-size:100px;
	width: 65%;
}
.topright {
	animation: textfadein 3s;
}

.be {
	animation: slidein 3s ease forwards;
	border-bottom: 9px solid white;

}
.container2 {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}
.left2 {
	font-family: 'Righteous', cursive;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: center;	
	justify-content:center;
	text-align: justify;
}
.left2:focus {
	animation: slidein 3s ease forwards;
}
.right2 {
	background-image: url(../images/imgright.jpg);
	background-size: cover;
	width: 50%;
	background-position: 50% 50%;
}
.container2 h1 {
	font-size: 8vw;
	margin: 0;
	color: #333333;
}
.innerleft {
	margin: 10%;
}
.innerleft p {
    font-family: 'Nunito', sans-serif;
    font-size:20px;
    color: #666666;
    letter-spacing: 0px;
    line-height:26px;
}
.button a {
	width: 30%;
	padding: 10px;
	color: white;
	border: 2px solid #ff7578;
	border-radius: 4px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	background-image: linear-gradient(to right, #efc9cc, #ff7578);
	background-size: 100% 100%;
	transition: background-image 3s ease-in-out; 
}
.button a:hover {
	background-size: 0% 0%;
	color: #ff7578;
}
.shoprowcontainer {
	margin-top: 15px;
}
.shoprow {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    align-content: space-between;
}
.shop {
	width:32%;
	height:90%;
	margin: 0 auto;
	position: relative;
}
.pricebox {
	font-family: 'Nunito', sans-serif;
	color: black;
    position: absolute;
    width: 60%;
    height: 46px;
    background-color:rgba(0,0,0,0.04);
    top: 83%;
    left: 20%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    z-index: 1;
}
.pricebox h4 {
	font-weight: 100;
	font-size: 12px;
	width: 80%;
	display: inline;
}
.pricebox .price h3 {
	margin-top: 10px;
}
.priceonhover {
	opacity: 0.0;
	background-color: grey;
}
.s1 {
	background-image: url("../images/hatbg01.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s2 {
	background-image: url("../images/hatbg02.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s3 {
	background-image: url("../images/hatbg03.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s4 {
	background-image: url("../images/hatbg1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s5 {
	background-image: url("../images/hatbg2.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s6 {
	background-image: url("../images/hatbg3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s7 {
	background-image: url("../images/hatbg4.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s8 {
	background-image: url("../images/hatbg5.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.s9 {
	background-image: url("../images/hatbg6.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}
.container3 {
	max-width: 1335px;
	margin: 0 auto;
}
.grid-row {
	display: flex;
	flex-grow: row wrap;
	justify-content: flex-start;
}
.griditem1 {
	background-image: url('../images/row3bg.jpg');
	height: 100vh;
	flex-basis: 35%;
	position: relative;
}
.griditem2 {
	height:100vh;
	flex-basis: 65%;
	position: relative;
}
footer {
	display: flex;
	width: 100%;
	height: 80vh;
	background-image: url("../images/footerbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	position: relative;
}
.footercontainer1 {
	display: flex;
	font-family: 'Questrial', sans-serif;
	font-size: 19px;
	background-color: rgba(0,0,0,.99);
	width: 100%;
	position: absolute;
	height: 30vh;
	justify-content: center;
	padding-top: 5%;
}
form {
	padding: 2.2vh 2.2vh;
}
.footercontainer2 {
	display: flex;
	background-color: rgba(0,0,0,.95);
	width: 100%;
	position: absolute;
	height: 50vh;
	top: 30vh;
	justify-content: center;
	padding-top: 5%;
}
.footerlogo a {
	color: white;
}
.footercontainer2 ul {
	list-style: none;
	padding: 0 5%;
}
.footercontainer2 ul li h4 {
	font-family: 'Righteous', cursive;
}
.footercontainer2 ul li a{
	font-family: 'Questrial', sans-serif;
	line-height: 278%;
	color: #B1B1B1;
}
.footercontainer2 ul li a:hover {
	color: white;
}
@media screen and (min-width: 992px) {
	.lg, .md, .sm, .xs {
		display: none;
	}
	.hamburger {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	header {
		position: fixed;
		width: 100%;
		background-color: white;
		top: 0px;
	}
	.cart {
		right: 10%;
		top: 35.3px;
	}
	.container {
		flex-direction:column-reverse;
		height: 50vh;
		margin-top: 105px;
}
	.buttons, .hamburger {
		margin: 10px;
		z-index: 1;
}
	.right {
		width: 100%;
		height: 50vh;
}
	.shop {
		width:49%;
}
	.xl, .md {
		display: none;
}
}
@media screen and (max-width: 881px) {
	.footercontainer2 ul li a {
		font-size: small;
	}
	.footercontainer2 ul {
		padding: 0 4%;
	}
}
@media screen and (max-width: 768px) {
	.container {
		height: 50vh;	}
	.cart {
		right: 15%;
	}
	.right {
		height: 50vh;
	}
	.container2 {
		height: 50vh;
	}
	.left2 {
		width: 100%;
		height: 50vh;
	}
	.right2 {
		display: none;
	}
	.shop {
		width: 100%;
	}
	footer {
	height: 100vh;
}
	.footercontainer1 {
	 height: 15vh;
	 flex-direction: column;
	 text-align: center;
	 padding-top: 0;
	 padding-bottom: 25px;
}
	.footercontainer2 {
	flex-direction: column;
	height: 95vh;
	top: 15vh;
	justify-content: space-evenly;
}
	.footerlogo {
	margin: 0 auto;
}
	.footercontainer2 ul {
	margin: 0 auto;
	line-height: 0px;
	text-align: center;
}
	.footercontainer2 ul li a {
	font-size: medium;
	line-height: 214%;
	}

	.xl, .lg{
		display: none;
	}
	.md {
		display: contents;
	}
}
@media screen and (max-width: 632px) {
	.right p {
		font-size: 80px;
	}
}
@media screen and (max-width: 522px) {
	.right p {
		font-size: 60px;
	}
}
@media screen and (max-width: 367px) {
.navlinks li, .buttons li {
	padding: 0 1px;
}
	.right p {
		text-align: center;
	}
	.be {
		border-bottom: none;
	}
}
@media screen and (max-width: 436px) {
	.cart {
		right: 20%;
	}
}